# Analise dos dados

In [ ]:
base = "https://raw.githubusercontent.com/juanengml/censo_escolar_2022/main_censo/bases2018_2021_pvh.csv"

In [ ]:
import pandas as pd

In [ ]:
base = pd.read_csv(base)

## Houve aumento ou redução das aquisições de equipamentos de (informática,multimídias e laboratórios e acesso a Internet)durante o período de 2018-2021? 2.2.Onde?

IN_LABORATORIO_INFORMATICA - laboratorio 

QT_COMP_PORTATIL_ALUNO

QT_TABLET_ALUNO

IN_ACESSO_INTERNET_COMPUTADOR

QT_EQUIP_MULTIMIDIA

In [ ]:
base[['NU_ANO_CENSO','NO_MUNICIPIO']].groupby(['NO_MUNICIPIO']).count()

              NU_ANO_CENSO
NO_MUNICIPIO
porto velho           1411

## Quantidade Laboratorios de informatica 

---

In [ ]:
base_lab = base.query('IN_LABORATORIO_INFORMATICA == 1').copy()
base_lab[['IN_LABORATORIO_INFORMATICA','TP_CONVENIO_PODER_PUBLICO','NU_ANO_CENSO','NO_ENTIDADE']].groupby(['IN_LABORATORIO_INFORMATICA','NU_ANO_CENSO']).sum()

                                         TP_CONVENIO_PODER_PUBLICO
IN_LABORATORIO_INFORMATICA NU_ANO_CENSO
1.0                        2018                               17.0
                           2019                               11.0
                           2020                               13.0
                           2021                               13.0

## Quantidade Computador de informatica 

---

In [ ]:
base[['QT_COMP_PORTATIL_ALUNO','NU_ANO_CENSO','NO_ENTIDADE']].groupby(['NU_ANO_CENSO']).count()

              QT_COMP_PORTATIL_ALUNO  NO_ENTIDADE
NU_ANO_CENSO
2018                             354          354
2019                             358          358
2020                             348          348
2021                             351          351

## Quantidade Tablet de informatica 

---

In [ ]:
base[['QT_TABLET_ALUNO','NU_ANO_CENSO','NO_ENTIDADE']].groupby(['NU_ANO_CENSO']).sum()

              QT_TABLET_ALUNO
NU_ANO_CENSO
2018                      0.0
2019                    410.0
2020                    283.0
2021                    272.0

## Quantidade Multimidia de informatica 

---

In [ ]:
base[['QT_EQUIP_MULTIMIDIA','TP_CONVENIO_PODER_PUBLICO','NU_ANO_CENSO','NO_ENTIDADE']].groupby(['NU_ANO_CENSO']).sum()

              QT_EQUIP_MULTIMIDIA  TP_CONVENIO_PODER_PUBLICO
NU_ANO_CENSO
2018                        730.0                       26.0
2019                     178484.0                       13.0
2020                      89630.0                       15.0
2021                        757.0                       15.0

In [ ]:
base[['IN_EQUIP_MULTIMIDIA','TP_CONVENIO_PODER_PUBLICO','NU_ANO_CENSO','NO_ENTIDADE']].groupby(['NU_ANO_CENSO']).sum()

              IN_EQUIP_MULTIMIDIA  TP_CONVENIO_PODER_PUBLICO
NU_ANO_CENSO
2018                        193.0                       26.0
2019                        200.0                       13.0
2020                        208.0                       15.0
2021                        209.0                       15.0

In [ ]:
base[['IN_MATERIAL_PED_MULTIMIDIA','TP_CONVENIO_PODER_PUBLICO','NU_ANO_CENSO','NO_ENTIDADE']].groupby(['NU_ANO_CENSO']).sum()

              IN_MATERIAL_PED_MULTIMIDIA  TP_CONVENIO_PODER_PUBLICO
NU_ANO_CENSO
2018                                 0.0                       26.0
2019                               337.0                       13.0
2020                                80.0                       15.0
2021                                84.0                       15.0

In [ ]:
base.head()

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_MESORREGIAO,CO_MESORREGIAO,...,QT_TUR_FUND_AF,QT_TUR_MED,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE
0,2018,Norte,1,Rondônia,RO,11,porto velho,1100205,Madeira-Guaporé,1101,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,12.0
1,2018,Norte,1,Rondônia,RO,11,porto velho,1100205,Madeira-Guaporé,1101,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0
2,2018,Norte,1,Rondônia,RO,11,porto velho,1100205,Madeira-Guaporé,1101,...,13.0,9.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0
3,2018,Norte,1,Rondônia,RO,11,porto velho,1100205,Madeira-Guaporé,1101,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2018,Norte,1,Rondônia,RO,11,porto velho,1100205,Madeira-Guaporé,1101,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0

Warning: Total number of columns (370) exceeds max_columns (20) limiting to first (20) columns.

### Tem escolas que não tem acesso a energia?

In [ ]:
base[['IN_ENERGIA_INEXISTENTE','NO_ENTIDADE']].query("IN_ENERGIA_INEXISTENTE == 1").groupby("NO_ENTIDADE").count()

                                  IN_ENERGIA_INEXISTENTE
NO_ENTIDADE
EIEEF JOJ MIT O MINIM                                  1
EIEEF KUNANARI                                         2
EIEEF NYJ NYJI                                         4
EIEEF PIN KARIPUNA                                     1
EIEEF PYM KEJA SIGNATY PYPYDNIPA                       1
EMEF PADRE JOSE DE ANCHIETA                            3

### n⁰ de Matrículas por escola.

In [ ]:
base[['QT_MAT_BAS','NO_ENTIDADE','CO_CEP','NU_ANO_CENSO']].query("QT_MAT_BAS > 0").sort_values(by=['QT_MAT_BAS'],
                                                                                                 ascending=False)

,QT_MAT_BAS,NO_ENTIDADE,CO_CEP,NU_ANO_CENSO
702,4395.0,IFRO - CAMPUS PORTO VELHO ZONA NORTE,76821002.0,2019
1157,3739.0,EEEFM PROF FLORA CALHEIROS COTRIN,76825012.0,2021
344,3539.0,IFRO - CAMPUS PORTO VELHO ZONA NORTE,76821002.0,2018
809,3537.0,EEEFM PROF FLORA CALHEIROS COTRIN,76825012.0,2020
99,3487.0,EEEFM PROF FLORA CALHEIROS COTRIN,76825012.0,2018
...,...,...,...,...
1085,4.0,EMEF BAIXA VERDE,76848000.0,2021
698,3.0,EIEEF INDIGENA ABYA,76847000.0,2019
1165,3.0,EMEF SAO CARLOS,76848000.0,2021
1391,1.0,INSTITUTO CANDELARIA DE PORTO VELHO - ICPV RO,76803840.0,2021
1044,1.0,INSTITUTO CANDELARIA DE PORTO VELHO - ICPV RO,76803840.0,2020

In [ ]:
base[['QT_MAT_FUND','NO_ENTIDADE','CO_CEP','NU_ANO_CENSO']].query("QT_MAT_FUND > 0").sort_values(by=['QT_MAT_FUND'],
                                                                                                 ascending=False)

,QT_MAT_FUND,NO_ENTIDADE,CO_CEP,NU_ANO_CENSO
1157,1595.0,EEEFM PROF FLORA CALHEIROS COTRIN,76825012.0,2021
809,1535.0,EEEFM PROF FLORA CALHEIROS COTRIN,76825012.0,2020
1100,1363.0,ESCOLA SANTA MARCELINA MARCELLO CANDIA,76806679.0,2021
394,1349.0,ESCOLA SANTA MARCELINA MARCELLO CANDIA,76806679.0,2019
40,1346.0,E E E F SANTA MARCELINA MARCELLO CANDIA,76806679.0,2018
...,...,...,...,...
737,4.0,EMEF BAIXA VERDE,76848000.0,2020
1363,4.0,CRECHE PRE ESCOLAR CANTINHO DA ALEGRIA,76801246.0,2021
1165,3.0,EMEF SAO CARLOS,76848000.0,2021
698,3.0,EIEEF INDIGENA ABYA,76847000.0,2019
1016,3.0,CRECHE PRE ESCOLAR CANTINHO DA ALEGRIA,76801246.0,2020

In [ ]:
base[['QT_MAT_MED','NO_ENTIDADE','CO_CEP','NU_ANO_CENSO']].query("QT_MAT_MED > 0").sort_values(by=['QT_MAT_MED'],
                                                                                                 ascending=False)

      QT_MAT_MED                       NO_ENTIDADE      CO_CEP  NU_ANO_CENSO
199       2520.0     EEEB PROF JOAO BENTO DA COSTA  76811858.0          2018
550       2491.0     EEEB PROF JOAO BENTO DA COSTA  76811858.0          2019
1250      2449.0     EEEB PROF JOAO BENTO DA COSTA  76811858.0          2021
904       2362.0     EEEB PROF JOAO BENTO DA COSTA  76811858.0          2020
842       1674.0                 IEE CARMELA DUTRA  76801209.0          2020
...          ...                               ...         ...           ...
975          5.0             EIEEF JOJ MIT O MINIM  76839000.0          2020
1021         3.0  EIEEF PYM KEJA SIGNATY PYPYDNIPA  76840000.0          2020
1248         3.0       EIEEFM SANTA MARIA KAXARARI  76847000.0          2021
1368         3.0  EIEEF PYM KEJA SIGNATY PYPYDNIPA  76840000.0          2021
1272         1.0            EIEEFM KURANA KAXARARI  76847000.0          2021

[239 rows x 4 columns]

### Quais escolas não tem material pedagógico?

In [ ]:
base[['IN_MATERIAL_PED_NENHUM',"NO_ENTIDADE"]].query("IN_MATERIAL_PED_NENHUM == 1").groupby("NO_ENTIDADE").count()

                                                IN_MATERIAL_PED_NENHUM
NO_ENTIDADE
CENTRO PROFISSIONALIZANTE SIMONE ARAUJO                              2
COLEGIO ADVENTISTA DE PORTO VELHO                                    2
COLEGIO TIRADENTES DA POLICIA MILITAR CTPM VII                       1
EEEFM GOV ARAUJO LIMA                                                2
EEEM PROFESSORA JURACY LIMA TAVARES                                  1
EIEEF ABYA                                                           2
EIEEF APULY                                                          2
EIEEF BINU                                                           2
EIEEF FLORESTA MAIA                                                  2
EIEEF KAIBU                                                          2
EIEEF KAWAPU                                                         2
EIEEF KUNANARI                                                       2
EIEEFM KURANA KAXARARI                                               2
EIEEFM SANTA MARIA KAXARARI                                          2
EMEF ENGENHO DO MADEIRA                                              1
EMEF MARIA FRANCISCA DE JESUS GONCALVES                              2
EMEF NOSSA SENHORA APARECIDA                                         2
EMEF SAO CARLOS                                                      2
EMEF VISTA ALEGRE                                                    2
ESCOLA TECNICA ESTADUAL ETEC - IDEP                                  1

### Quantas escolas fecharam no período?

In [ ]:
base[['NU_ANO_CENSO','NO_ENTIDADE','TP_SITUACAO_FUNCIONAMENTO']].query("TP_SITUACAO_FUNCIONAMENTO == 2").groupby("NU_ANO_CENSO").count()

              NO_ENTIDADE  TP_SITUACAO_FUNCIONAMENTO
NU_ANO_CENSO
2018                   66                         66
2019                   52                         52
2020                   53                         53
2021                   48                         48